<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="col-md-3 p-0">
    <div class="card">
        <img src="image/card/side-bar.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="font-text-footer card-text">CULINARY</p>
            <p class="font-text card-text">The resort’s culinary experience features a mixture of the
                authentic
                and locally inspired Vietnamese, Asian, Italian and other European cuisines plus the best
                imported steaks. The resort presents guests with varied gastronomic venues – the hip and
                breezy
                bar overlooking the beach, the exclusive Lagoon pool surrounded by a tropical garden, the
                true
                Italian flare offered at the Don Cipriani’s, the refined Asian touch at Café Indochine or
                the
                authentic central Vietnam cuisine at the Danaksara.</p>
        </div>
    </div>
    <div class="card">
        <img src="image/card/side-bar-2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="font-text-footer card-text">MEETING and EVENT</p>
            <p class="font-text card-text">A well-appointed International Convention Palace with ballrooms
                can
                accommodate up to 1,000 people in style, with another ten function rooms for 50 to 300
                people
                each. A variety of cultural-themed parties on the beach or around the lagoon, in the
                ballrooms
                or outside the resort, with the surprising arrivals of VIPs from Helicopter landing on the
                resort’s own Helipad…</p>
        </div>
    </div>
</div>
</body>
<script src="../bootstrap/jquery-3.6.0.min.js"></script>
<script src="../bootstrap/js/bootstrap.js"></script>
</html>